body{
    margin: 0 auto;
    border: 14px; 
    width: 60%;
    height: auto;
    padding: 10px;
    border-color: black;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
} 
div ul{
   width: 80%;
   margin-left:18% ;
   margin-top: 4%;
}
li{
    font-size: larger;
    font-weight:500;

}
span{
    font-family: monospace;
    font-weight: bold;
    color: darkorange;
    
}
.get{
    color: darkgreen;
}
.post{
    color: darkblue;
}
.del{
    color: darkred;
}